@using System.Collections
@using System.Threading.Tasks
@using FiiTT.Core
@using FiiTT.Core.EnumTypes
@model Models

@{
    ViewData["Title"] = "Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/css/Student.css" />
<br />


@foreach (var gr in (IEnumerable<Group>)ViewBag.GroupsList)
{<div id="Schedule">
 <br />
 <div class="GroupSchedule">
 @{
     var groupName = gr.YearNumber + gr.HalfYearName + gr.GroupNumber;
 }
 <h2 id="groupName">@groupName</h2>
 <table class="table">
     <thead class="Thread">
     <tr>
         <th>
             @Html.DisplayNameFor(model => model.AddScheduleModel.Day)
         </th>
         <th>
             @Html.DisplayNameFor(model => model.AddScheduleModel.StartSchedule)
         </th>
         <th>
             @Html.DisplayNameFor(model => model.AddScheduleModel.EndSchedule)
         </th>
         <th>
             @Html.DisplayNameFor(model => model.AddScheduleModel.ClassName)
         </th>
         <th>
             @Html.DisplayNameFor(model => model.AddScheduleModel.ClassType)
         </th>
         <th>
             @Html.DisplayNameFor(model => model.AddScheduleModel.TeacherName)
         </th>
         <th>
             @Html.DisplayNameFor(model => model.AddScheduleModel.ClassroomName)
         </th>
     </tr>
     </thead>
     @if (ViewBag.ScheduleList is IEnumerable)
     {
         var lastDay = Days.Duminică;
         var check = true;
         <tbody>
         @{ var classwiseSchedule = (ViewBag.ScheduleList as IEnumerable<Schedule>).Where(c => c.GroupName == @groupName); }
         @foreach (var item in classwiseSchedule)
         {
             if (lastDay != Days.Duminică & lastDay != item.Day)
             {
                 <tr><td></td><td></td><td></td><td></td><td></td><td></td><td><br /></td></tr>
                 check = true;
             }
             <tr>
                 @if (check)
                 {
                     check = false;
                     <td>
                         @item.Day
                     </td>
                 }
                 else
                 {
                     <td></td>
                 }
                 <td>
                     @item.StartSchedule.ToString("HH:mm")
                 </td>
                 <td>
                     @item.EndSchedule.ToString("HH:mm")
                 </td>
                 <td>
                     @item.ClassName
                 </td>
                 <td>
                     @item.ClassType
                 </td>
                 <td>
                     @item.TeacherName
                 </td>
                 <td>
                     @item.ClassroomName
                 </td>
             </tr>
             lastDay = item.Day;
         }
         </tbody>
     }
     <tr></tr>
 </table>

 @if ((ViewBag.ExamSchedulesList as IEnumerable<ExamSchedule>).Any(c => c.GroupName == groupName))
 {
     <h3>Exams</h3>
     <table class="table">
         <thead>
         <tr>
             <th>
                 @Html.DisplayNameFor(model => model.AddExamScheduleModel.Date)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.AddExamScheduleModel.StartExam)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.AddExamScheduleModel.EndExam)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.AddExamScheduleModel.ClassName)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.AddExamScheduleModel.ExamType)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.AddExamScheduleModel.TeacherName)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.AddExamScheduleModel.ClassroomName)
             </th>
         </tr>
         </thead>
         @if (ViewBag.ExamSchedulesList is IEnumerable)
         {
             <tbody>
             @{ var classwiseExamSchedule = (ViewBag.ExamSchedulesList as IEnumerable<ExamSchedule>).Where(c => c.GroupName == groupName); }
             @foreach (var item in classwiseExamSchedule)
             {
                 var culture = new System.Globalization.CultureInfo("ro-RO");
                 var day = culture.DateTimeFormat.GetDayName(@item.Date.DayOfWeek).First().ToString().ToUpper() + culture.DateTimeFormat.GetDayName(@item.Date.DayOfWeek).Substring(1);
                 <tr>
                     <td>
                         @item.Date.ToString("dd.MM.yyyy") @day
                     </td>
                     <td>
                         @item.StartExam.ToString("HH:mm")
                     </td>
                     <td>
                         @item.EndExam.ToString("HH:mm")
                     </td>
                     <td>
                         @item.ClassName
                     </td>
                     <td>
                         @item.ExamType
                     </td>
                     <td>
                         @item.TeacherName
                     </td>
                     <td>
                         @item.ClassroomName
                     </td>
                 </tr>
             }
             </tbody>
         }
         <tr></tr>
     </table>
 }
 @if ((ViewBag.EventSchedulesList as IEnumerable<EventSchedule>).Any(c => c.GroupName == groupName))
 {
     <h3>Events</h3>
     <table class="table">
         <thead>
         <tr>
             <th>
                 @Html.DisplayNameFor(model => model.AddEventScheduleModel.Date)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.AddEventScheduleModel.StartEvent)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.AddEventScheduleModel.EndEvent)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.AddEventScheduleModel.EventName)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.AddEventScheduleModel.EventType)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.AddEventScheduleModel.Organizer)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.AddEventScheduleModel.ClassroomName)
             </th>
         </tr>
         </thead>
         @if (ViewBag.EventSchedulesList is IEnumerable)
         {
             <tbody>
             @{ var classwiseEventSchedule = (ViewBag.EventSchedulesList as IEnumerable<EventSchedule>).Where(c => c.GroupName == groupName); }
             @foreach (var item in classwiseEventSchedule)
             {
                 var culture = new System.Globalization.CultureInfo("ro-RO");
                 var day = culture.DateTimeFormat.GetDayName(@item.Date.DayOfWeek).First().ToString().ToUpper() + culture.DateTimeFormat.GetDayName(@item.Date.DayOfWeek).Substring(1);
                 <tr>
                     <td>
                         @item.Date.ToString("dd.MM.yyyy") @day
                     </td>
                     <td>
                         @item.StartEvent.ToString("HH:mm")
                     </td>
                     <td>
                         @item.EndEvent.ToString("HH:mm")
                     </td>
                     <td>
                         @item.EventName
                     </td>
                     <td>
                         @item.EventType
                     </td>
                     <td>
                         @item.Organizer
                     </td>
                     <td>
                         @item.ClassroomName
                     </td>
                 </tr>
             }
             </tbody>
         }
         <tr></tr>
     </table>
 }
 <br />
 </div>
 </div>
    <br />
                                }
