﻿button.btn.btn-default {
    border-radius: 12px;
    background-color: #e7e7e7;
    font-size: 20px;
    margin: 2% 1% 2% 1%;
    outline: 0 !important;
    transition-duration: 0.5s;
}

    button.btn.btn-default:hover {
        background-color: rgb(255, 100, 61);
        color: white;
    }

button.btn-danger, input.btn-default {
    outline: 0 !important;
}

#buttonsDiv {
    margin: 0;
    padding: 0;
    text-align: center;
}

.inputFields {
    min-width: 15%;
}

.ClassroomSchedule {
    border: 2px solid;
   padding: 10px;
   border-radius: 0 0 25px 25px;
   border-color: lightgrey;
   background-color: #f3faff;
   box-shadow: 8px 8px 8px #888888;
}

#classroomName{
   float: left;
   padding: 0 5px;
   margin: -40px 0 0 20px;
   background: #f3faff;
   color: #ff643d;
   border: 2px solid lightgrey;
   border-bottom-color:#f3faff;
}

.table {
    margin-bottom: 0;
}
