﻿body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.top-margin {
    margin-bottom: 7px;
    margin-top: 7px;
}

.margin-top { margin-top: 15% }

.top-50 { margin-top: 50px; }

.bottom-7 { margin-bottom: 7px; }

.left-margin { margin-left: 15px; }

.left-margin-invert {
    margin-left: -15px;
    margin-right: 0;
}

.logo-style {
    font-size: 18px;
    height: 100%;
    line-height: 20px;
    margin: auto;
    padding: 15px 15px;
    position: absolute;
    width: 100%;
}

.logo-style > img {
    display: block;
    float: inherit;
    height: 50px;
    margin: 20px 70px 0 0;
    margin-top: -8px;
    padding-bottom: 15px;
    position: fixed;
    width: 200px;
}

#studentBody {
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 16px;
    line-height: 2;
}

#tableHead {
    background-color: #FC7712;
    color: white;
}

/* Set widths on the form inputs since otherwise they're 100% wide */

input,
select,
textarea { max-width: 280px; }

@font-face {
    font-family: 'banner4';
    src: url('../images/banner4.svg') format('svg');
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */

.btn-bracketed::before {
    content: "[";
    display: inline-block;
    padding-right: 0.5em;
}

.btn-bracketed::after {
    content: "]";
    display: inline-block;
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] { width: 100%; }

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption { display: none }
}

#login {
    background-color: white;
    border: 2px solid #333;
    color: black;
    transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#login:hover {
    background-color: #333;
    color: white;
}

#login:active {
    background-color: #333;
    box-shadow: 0 5px #333;
    transform: translateY(10px);
}