﻿.GroupSchedule{
   border: 2px solid;
   padding: 10px;
   border-radius: 0 0 25px 25px;
   border-color: lightgrey;
   background-color: #f3faff;
   box-shadow: 8px 8px 8px #888888;
}

#groupName{
   float: left;
   padding: 0 5px;
   margin: -46px 0 0 20px;
   background: #f3faff;
   color: #ff643d;
   border: 2px solid lightgrey;
   border-bottom-color:#f3faff;
}

#Schedule{
    margin: 35px 0 25px 0;
}