﻿@{
    ViewData["Title"] = "Home Page";
}

<body>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="/images/slides01.jpg" alt="Image">
        </div>

        <div class="item">
            <img src="/images/slides02.jpg" alt="Image">
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container text-center left-margin-invert">
    <div class="row">
        <div class="col-md-12 top-margin">
            <img src="/images/focus.jpg" class="img-responsive" style="width: 100%" alt="Image">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="/images/e1.jpg" class="img-responsive" style="width: 100%" alt="Image">
        </div>
        <div class="col-md-4">
            <img src="/images/e2.jpg" class="img-responsive" style="width: 100%" alt="Image">
        </div>
        <div class="col-md-4">
            <img src="/images/e3.jpg" class="img-responsive" style="width: 100%" alt="Image">
        </div>
    </div>
</div><br>

</body>