﻿@using System.Collections
@using System.Threading.Tasks
@using FiiTT.Core
@using FiiTT.Core.EnumTypes
@using FiiTT.Web.Models.ClassroomViewModels
@using FiiTT.Web.Models.ClassViewModels
@using FiiTT.Web.Models.EventScheduleViewModels
@using FiiTT.Web.Models.ExamScheduleViewModels
@using FiiTT.Web.Models.GroupViewModels
@using FiiTT.Web.Models.ScheduleViewModels
@using FiiTT.Web.Models.TeacherToClassViewModels
@using FiiTT.Web.Models.TeacherViewModels
@model Models
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="/css/Admin.css"/>

<br />
<div id="buttonsDiv">
    <button class="btn btn-default" data-target="#classroomModal" data-toggle="modal">Classrooms</button>
    <button class="btn btn-default" data-target="#teacherModal" data-toggle="modal">Teachers</button>
    <button class="btn btn-default" data-target="#teacherToClassModal" data-toggle="modal">Bind Teachers to Classes</button>
    <button class="btn btn-default" data-target="#classModal" data-toggle="modal">Classes</button>
    <button class="btn btn-default" data-target="#groupModal" data-toggle="modal">Groups</button>
</div>

<div id="teacherModal" class="modal fade" tabindex="-1" data-focus-on="input:first">
    <div class="modal-dialog" style="min-height: 85%; min-width: 85%;">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Teachers</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.AddTeacherModel.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AddTeacherModel.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AddTeacherModel.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AddTeacherModel.TeacherType)
                            </th>
                        </tr>
                    </thead>
                    @if (ViewBag.TeachersList is IEnumerable)
                    {
                        <tbody>
                            @foreach (var item in (IEnumerable<Teacher>)ViewBag.TeachersList)
                            {
                                var id = Guid.NewGuid();
                                var buttonTarget = "#deleteTeacherModal" + id;
                                var modalId = "deleteTeacherModal" + id;

                                <tr>
                                    <td>
                                        @item.Email
                                    </td>
                                    <td>
                                        @item.FirstName
                                    </td>
                                    <td>
                                        @item.LastName
                                    </td>
                                    <td>
                                        @item.TeacherType
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" data-target="@buttonTarget" data-toggle="modal" style="float: right">Delete</button>
                                        <div class="modal fade" id="@modalId" tabindex="-1" data-focus-on="input:first">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Confirm delete</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h4>You are about to delete this following teacher:</h4>
                                                        <dl class="dl-horizontal">
                                                            <dt>
                                                                @Html.DisplayNameFor(model => model.AddTeacherModel.Email)
                                                            </dt>
                                                            <dd>
                                                                @Html.DisplayFor(model => item.Email)
                                                            </dd>
                                                            <dt>
                                                                @Html.DisplayNameFor(model => model.AddTeacherModel.FirstName)
                                                            </dt>
                                                            <dd>
                                                                @Html.DisplayFor(model => item.FirstName)
                                                            </dd>
                                                            <dt>
                                                                @Html.DisplayNameFor(model => model.AddTeacherModel.LastName)
                                                            </dt>
                                                            <dd>
                                                                @Html.DisplayFor(model => item.LastName)
                                                            </dd>
                                                            <dt>
                                                                @Html.DisplayNameFor(model => model.AddTeacherModel.TeacherType)
                                                            </dt>
                                                            <dd>
                                                                @Html.DisplayFor(model => item.TeacherType)
                                                            </dd>
                                                        </dl>
                                                        <h4>Do you want to proceed?</h4>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form asp-action="DeleteTeacher" asp-route-id=@item.Email>
                                                            <input type="submit" value="Delete" class="btn btn-primary btn-danger" />
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <form asp-action="AddTeacher">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <td>
                                        <div class="inputFields">
                                            <input asp-for=@(new AddTeacherViewModel().Email) class="form-control" />
                                            <span asp-validation-for="AddTeacherModel.Email" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inputFields">
                                            <input asp-for=@(new AddTeacherViewModel().FirstName) class="form-control" />
                                            <span asp-validation-for="AddTeacherModel.FirstName" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inputFields">
                                            <input asp-for=@(new AddTeacherViewModel().LastName) class="form-control" />
                                            <span asp-validation-for="AddTeacherModel.LastName" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inputFields">
                                            @Html.DropDownList("TeacherType", (SelectList)ViewData["TeacherType"], new { @class = "form-control" })
                                        </div>
                                    </td>
                                    <td>
                                        <input type="submit" value="Add" class="btn btn-default" style="float: right" />
                                    </td>
                                </form>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<div id="classroomModal" class="modal fade" tabindex="-1" data-focus-on="input:first">
    <div class="modal-dialog" style="min-height: 85%; min-width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Classrooms</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.AddClassroomModel.ClassroomType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AddClassroomModel.ClassroomName)
                            </th>
                        </tr>
                    </thead>
                    @if (ViewBag.ClassesList is IEnumerable)
                    {
                    <tbody>
                        @foreach (var item in (IEnumerable<Classroom>)ViewBag.ClassroomsList)
                            {
                                var id = Guid.NewGuid();
                                var buttonTarget = "#deleteClassroomModal" + id;
                                var modalId = "deleteClassroomModal" + id;
                            <tr>
                                <td>
                                    @item.ClassroomType
                                </td>
                                <td>
                                    @item.ClassroomName
                                </td>
                                <td>
                                    <button class="btn btn-danger" data-target="@buttonTarget" data-toggle="modal" style="float: right">Delete</button>
                                    <div class="modal fade" id="@modalId" tabindex="-1" data-focus-on="input:first">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Confirm delete</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <h4>You are about to delete this following classroom:</h4>
                                                    <dl class="dl-horizontal">
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.AddClassroomModel.ClassroomType)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayFor(model => item.ClassroomType)
                                                        </dd>
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.AddClassroomModel.ClassroomName)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayFor(model => item.ClassroomName)
                                                        </dd>
                                                    </dl>
                                                    <h4>Do you want to proceed?</h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <form asp-action="DeleteClassroom" asp-route-id=@item.ClassroomId>
                                                        <input type="submit" value="Delete" class="btn btn-primary btn-danger" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }
                    </tbody>
                    }
                    <tr>
                        <form asp-action="AddClassroom">
                            <td>
                                <div class="inputFields">
                                    @Html.DropDownList("ClassroomType", (SelectList)ViewData["ClassroomType"], new { @class = "form-control" })
                                </div>
                            </td>
                            <td>
                                <div class="inputFields">
                                    <input asp-for=@(new AddClassroomViewModel().ClassroomName) class="form-control" />
                                    <span asp-validation-for="AddClassroomModel.ClassroomName" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <input type="submit" value="Add" class="btn btn-default" style="float: right" />
                            </td>
                        </form>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="classModal" class="modal fade" tabindex="-1" data-focus-on="input:first">
    <div class="modal-dialog" style="min-height: 85%; min-width: 85%;">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Classes</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.AddClassModel.ClassName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AddClassModel.ShortName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AddClassModel.FrequencyType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AddClassModel.Semester)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AddClassModel.Package)
                            </th>
                        </tr>
                    </thead>
                    @if (ViewBag.ClassesList is IEnumerable)
                    {
                    <tbody>
                        @foreach (var item in (IEnumerable<Class>)ViewBag.ClassesList)
                            {
                                var id = Guid.NewGuid();
                                var buttonTarget = "#deleteClassModal" + id;
                                var modalId = "deleteClassModal" + id;
                            <tr>
                                <td>
                                    @item.ClassName
                                </td>
                                <td>
                                    @item.ShortName
                                </td>
                                <td>
                                    @item.FrequencyType
                                </td>
                                <td>
                                    @item.Semester
                                </td>
                                <td>
                                    @item.Package
                                </td>
                                <td>
                                    <button class="btn btn-danger" data-target="@buttonTarget" data-toggle="modal" style="float: right">Delete</button>
                                    <div class="modal fade" id="@modalId" tabindex="-1" data-focus-on="input:first">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Confirm delete</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <h4>You are about to delete this following class:</h4>
                                                    <dl class="dl-horizontal">
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.AddClassModel.ClassName)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayFor(model => item.ClassName)
                                                        </dd>
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.AddClassModel.ShortName)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayFor(model => item.ShortName)
                                                        </dd>
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.AddClassModel.FrequencyType)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayTextFor(model => item.FrequencyType)
                                                        </dd>
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.AddClassModel.Semester)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayFor(model => item.Semester)
                                                        </dd>
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.AddClassModel.Package)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayFor(model => item.Package)
                                                        </dd>
                                                    </dl>
                                                    <h4>Do you want to proceed?</h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <form asp-action="DeleteClass" asp-route-id=@item.ClassId>
                                                        <input type="submit" value="Delete" class="btn btn-primary btn-danger" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }
                    </tbody>
                    }
                    <tr>
                        <form asp-action="AddClass">
                            <td>
                                <div class="inputFields">
                                    <input asp-for=@(new AddClassViewModel().ClassName) class="form-control" />
                                    <span asp-validation-for="AddClassModel.ClassName" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <div class="inputFields">
                                    <input asp-for=@(new AddClassViewModel().ShortName) class="form-control" />
                                    <span asp-validation-for="AddClassModel.ShortName" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <div class="inputFields">
                                    @Html.DropDownList("FrequencyType", (SelectList)ViewData["FrequencyType"], new { @class = "form-control" })
                                </div>
                            </td>
                            <td>
                                <div class="inputFields">
                                    <input type="number" min="1" max="6" value="1" asp-for=@(new AddClassViewModel().Semester) class="form-control" />
                                    <span asp-validation-for="AddClassModel.Semester" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <div class="inputFields">
                                    <input min="1" max="4" asp-for=@(new AddClassViewModel().Package) class="form-control" />
                                    <span asp-validation-for="AddClassModel.Package" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <input type="submit" value="Add" class="btn btn-default" style="float: right" />
                            </td>
                        </form>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="groupModal" class="modal fade" tabindex="-1" data-focus-on="input:first">
    <div class="modal-dialog" style="min-height: 85%; min-width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Groups</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.AddGroupModel.YearNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AddGroupModel.HalfYearName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AddGroupModel.GroupNumber)
                            </th>
                        </tr>
                    </thead>
                    @if (ViewBag.GroupsList is IEnumerable)
                    {
                    <tbody>
                        @foreach (var item in (IEnumerable<Group>)ViewBag.GroupsList)
                            {
                                var id = Guid.NewGuid();
                                var buttonTarget = "#deleteGroupModal" + id;
                                var modalId = "deleteGroupModal" + id;
                            <tr>
                                <td>
                                    @item.YearNumber
                                </td>
                                <td>
                                    @item.HalfYearName
                                </td>
                                <td>
                                    @item.GroupNumber
                                </td>
                                <td>
                                    <button class="btn btn-danger" data-target="@buttonTarget" data-toggle="modal" style="float: right">Delete</button>
                                    <div class="modal fade" id="@modalId" tabindex="-1" data-focus-on="input:first">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Confirm delete</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <h4>You are about to delete this following group:</h4>
                                                    <dl class="dl-horizontal">
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.AddGroupModel.YearNumber)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayFor(model => item.YearNumber)
                                                        </dd>
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.AddGroupModel.HalfYearName)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayFor(model => item.HalfYearName)
                                                        </dd>
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.AddGroupModel.GroupNumber)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayFor(model => item.GroupNumber)
                                                        </dd>
                                                    </dl>
                                                    <h4>Do you want to proceed?</h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <form asp-action="DeleteGroup" asp-route-id=@item.GroupId>
                                                        <input type="submit" value="Delete" class="btn btn-primary btn-danger" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }
                    </tbody>
                    }
                    <tr>
                        <form asp-action="AddGroup">
                            <td>
                                <div class="inputFields">
                                    @Html.DropDownList("YearNumber", (SelectList)ViewData["YearsList"], new { @class = "form-control" })
                                </div>
                            </td>
                            <td>
                                <div class="inputFields">
                                    @Html.DropDownList("HalfYearName", (SelectList)ViewData["HalfYearsList"], new { @class = "form-control" })
                                </div>
                            </td>
                            <td>
                                <div class="inputFields">
                                    <input min="1" max="10" asp-for=@(new AddGroupViewModel().GroupNumber) class="form-control" />
                                    <span asp-validation-for="AddGroupModel.GroupNumber" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <input type="submit" value="Add" class="btn btn-default" style="float: right" />
                            </td>
                        </form>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="teacherToClassModal" class="modal fade" tabindex="-1" data-focus-on="input:first">
    <div class="modal-dialog" style="min-height: 85%; min-width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bind Teachers to Classes</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.AddTeacherToClassModel.TeacherName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AddTeacherToClassModel.ClassName)
                            </th>
                        </tr>
                    </thead>
                    @if (ViewBag.TeachersToClassesList is IEnumerable)
                    {
                    <tbody>
                        @foreach (var item in (IEnumerable<AddTeacherToClassViewModel>)ViewBag.TeachersToClassesList)
                            {
                                var id = Guid.NewGuid();
                                var buttonTarget = "#deleteTeacherToClassModal" + id;
                                var modalId = "deleteTeacherToClassModal" + id;
                            <tr>
                                <td>
                                    @item.TeacherName
                                </td>
                                <td>
                                    @item.ClassName
                                </td>
                                <td>
                                    <button class="btn btn-danger" data-target="@buttonTarget" data-toggle="modal" style="float: right">Delete</button>
                                    <div class="modal fade" id="@modalId" tabindex="-1" data-focus-on="input:first">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Confirm delete</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <h4>You are about to delete this following relation between a teacher and an class:</h4>
                                                    <dl class="dl-horizontal">
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.AddTeacherToClassModel.TeacherName)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayFor(model => item.TeacherName)
                                                        </dd>
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.AddTeacherToClassModel.ClassName)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayFor(model => item.ClassName)
                                                        </dd>
                                                    </dl>
                                                    <h4>Do you want to proceed?</h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <form asp-action="DeleteTeacherToClass" asp-route-id=@item.TeacherToClassId>
                                                        <input type="submit" value="Delete" class="btn btn-primary btn-danger" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }
                        <tr>
                            <form asp-action="AddTeacherToClass">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <td>
                                    <div class="inputFields">
                                        @Html.DropDownList("TeacherName", (SelectList)ViewData["TeacherName"], new { @class = "form-control" })
                                    </div>
                                </td>
                                <td>
                                    <div class="inputFields">
                                        @Html.DropDownList("ClassName", (SelectList)ViewData["ClassName"], new { @class = "form-control" })
                                    </div>
                                </td>
                                <td>
                                    <input type="submit" value="Add" class="btn btn-default" style="float: right" />
                                </td>
                            </form>
                        </tr>
                    </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<div id="Schedule">
    @foreach (var cl in (IEnumerable<Classroom>)ViewBag.ClassroomsList)
    {
        <br /><br /><br /><br />
        <div class="ClassroomSchedule">
            <h3 id="classroomName">Classroom @cl.ClassroomName</h3>
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AddScheduleModel.Day)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddScheduleModel.StartSchedule)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddScheduleModel.EndSchedule)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddScheduleModel.ClassName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddScheduleModel.ClassType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddScheduleModel.TeacherName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddScheduleModel.GroupName)
                </th>
            </tr>
            </thead>
            @if (ViewBag.ScheduleList is IEnumerable)
            {
                var lastDay = Days.Duminică;
                <tbody>
                @{ var classwiseSchedule = (ViewBag.ScheduleList as IEnumerable<Schedule>).Where(c => c.ClassroomName == cl.ClassroomName); }
                @foreach (var item in classwiseSchedule)
                {
                    var id = Guid.NewGuid();
                    var buttonTarget = "#deleteScheduleModal" + id;
                    var modalId = "deleteScheduleModal" + id;
                    if (lastDay != Days.Duminică & lastDay != item.Day)
                    {
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><br/></td></tr>
                    }
                    <tr>
                        <td>
                            @item.Day
                        </td>
                        <td>
                            @item.StartSchedule.ToString("HH:mm")
                        </td>
                        <td>
                            @item.EndSchedule.ToString("HH:mm")
                        </td>
                        <td>
                            @item.ClassName
                        </td>
                        <td>
                            @item.ClassType
                        </td>
                        <td>
                            @item.TeacherName
                        </td>
                        <td>
                            @item.GroupName
                        </td>
                        <td>
                            <button class="btn btn-danger" data-target="@buttonTarget" data-toggle="modal" style="float: right">Delete</button>
                            <div class="modal fade" id="@modalId" tabindex="-1" data-focus-on="input:first">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Confirm delete</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h4>You are about to delete this following entry in the schedule:</h4>
                                            <dl class="dl-horizontal">
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.AddScheduleModel.ClassroomName)
                                                </dt>
                                                <dd>
                                                    @cl.ClassroomName
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.AddScheduleModel.Day)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => item.Day)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.AddScheduleModel.StartSchedule)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => item.StartSchedule)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.AddScheduleModel.EndSchedule)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => item.EndSchedule)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.AddScheduleModel.ClassName)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => item.ClassName)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.AddScheduleModel.ClassType)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => item.ClassType)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.AddScheduleModel.TeacherName)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => item.TeacherName)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.AddScheduleModel.GroupName)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => item.GroupName)
                                                </dd>
                                            </dl>
                                            <h4>Do you want to proceed?</h4>
                                        </div>
                                        <div class="modal-footer">
                                            <form asp-action="DeleteSchedule" asp-route-id=@item.ScheduleId>
                                                <input type="submit" value="Delete" class="btn btn-primary btn-danger"/>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    lastDay = item.Day;
                }
                </tbody>
            }
            <tr>
                <form asp-action="AddSchedule">
                    <div class="form-group">
                        @Html.Hidden("ClassroomName", cl.ClassroomName)
                    </div>
                    <td>
                        <div class="form-group">
                            @Html.DropDownList("Day", (SelectList)ViewData["DaysList"], new { @class = "form-control" })
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input value="08:00" min="08:00" max="20:00" step="900" asp-for=@(new AddScheduleViewModel().StartSchedule) class="form-control"/>
                            <span asp-validation-for="AddScheduleModel.StartSchedule" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input value="08:00" min="08:00" max="20:00" step="900" asp-for=@(new AddScheduleViewModel().EndSchedule) class="form-control"/>
                            <span asp-validation-for="AddScheduleModel.EndSchedule" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.DropDownList("ClassName", (SelectList) ViewData["ClassName"], new {@class = "form-control"})
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.DropDownList("ClassType", (SelectList) ViewData["ClassType"], new {@class = "form-control"})
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.DropDownList("TeacherName", (SelectList)ViewData["TeacherName"], new { @class = "form-control" })
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.DropDownList("GroupName", (SelectList) ViewData["GroupName"], new { @class = "form-control" })
                        </div>
                    </td>
                    <td>
                        <input type="submit" value="Add" class="btn btn-primary" style="float: right"/>
                    </td>
                </form>
            </tr>
        </table>
            <br/>
            <h4>Exams</h4>        
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.AddExamScheduleModel.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AddExamScheduleModel.StartExam)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AddExamScheduleModel.EndExam)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AddExamScheduleModel.ClassName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AddExamScheduleModel.ExamType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AddExamScheduleModel.TeacherName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AddExamScheduleModel.GroupName)
                        </th>
                    </tr>
                </thead>
                @if (ViewBag.ExamSchedulesList is IEnumerable)
                {
                    <tbody>
                        @{ var classwiseExamSchedule = (ViewBag.ExamSchedulesList as IEnumerable<ExamSchedule>).Where(c => c.ClassroomName == cl.ClassroomName); }
                        @foreach (var item in classwiseExamSchedule)
                    {
                        var id = Guid.NewGuid();
                        var buttonTarget = "#deleteExamScheduleModal" + id;
                        var modalId = "deleteExamScheduleModal" + id;
                        var culture = new System.Globalization.CultureInfo("ro-RO");
                        var day = culture.DateTimeFormat.GetDayName(@item.Date.DayOfWeek).First().ToString().ToUpper() + culture.DateTimeFormat.GetDayName(@item.Date.DayOfWeek).Substring(1);
                        <tr> 
                            <td>
                                @item.Date.ToString("dd.MM.yyyy") @day
                            </td>
                            <td>
                                @item.StartExam.ToString("HH:mm")
                            </td>
                            <td>
                                @item.EndExam.ToString("HH:mm")
                            </td>
                            <td>
                                @item.ClassName
                            </td>
                            <td>
                                @item.ExamType
                            </td>
                            <td>
                                @item.TeacherName
                            </td>
                            <td>
                                @item.GroupName
                            </td>
                            <td>
                                <button class="btn btn-danger" data-target="@buttonTarget" data-toggle="modal" style="float: right">Delete</button>
                                <div class="modal fade" id="@modalId" tabindex="-1" data-focus-on="input:first">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Confirm delete</h4>
                                            </div>
                                            <div class="modal-body">
                                                <h4>You are about to delete this following entry in the exams schedule:</h4>
                                                <dl class="dl-horizontal">
                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.AddExamScheduleModel.ClassroomName)
                                                    </dt>
                                                    <dd>
                                                        @cl.ClassroomName
                                                    </dd>
                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.AddExamScheduleModel.Date)
                                                    </dt>
                                                    <dd>
                                                        @Html.DisplayFor(model => item.Date)
                                                    </dd>
                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.AddExamScheduleModel.StartExam)
                                                    </dt>
                                                    <dd>
                                                        @Html.DisplayFor(model => item.StartExam)
                                                    </dd>
                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.AddExamScheduleModel.EndExam)
                                                    </dt>
                                                    <dd>
                                                        @Html.DisplayFor(model => item.EndExam)
                                                    </dd>
                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.AddExamScheduleModel.ClassName)
                                                    </dt>
                                                    <dd>
                                                        @Html.DisplayFor(model => item.ClassName)
                                                    </dd>
                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.AddExamScheduleModel.ExamType)
                                                    </dt>
                                                    <dd>
                                                        @Html.DisplayFor(model => item.ExamType)
                                                    </dd>
                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.AddExamScheduleModel.TeacherName)
                                                    </dt>
                                                    <dd>
                                                        @Html.DisplayFor(model => item.TeacherName)
                                                    </dd>
                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.AddExamScheduleModel.GroupName)
                                                    </dt>
                                                    <dd>
                                                        @Html.DisplayFor(model => item.GroupName)
                                                    </dd>
                                                </dl>
                                                <h4>Do you want to proceed?</h4>
                                            </div>
                                            <div class="modal-footer">
                                                <form asp-action="DeleteExamSchedule" asp-route-id=@item.ExamScheduleId>
                                                    <input type="submit" value="Delete" class="btn btn-primary btn-danger"/>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                            }
                <tr>
                    <form asp-action="AddExamSchedule">
                        <div class="form-group">
                            @Html.Hidden("ClassroomName", cl.ClassroomName)
                        </div>
                        <td>
                            <div class="form-group" style="width: 155px;">
                                <input value="" asp-for=@(new AddExamScheduleViewModel().Date) class="form-control"/>
                                <span asp-validation-for="AddExamScheduleModel.Date" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input value="08:00" min="08:00" max="20:00" step="900" asp-for=@(new AddExamScheduleViewModel().StartExam) class="form-control" />
                                <span asp-validation-for="AddExamScheduleModel.StartExam" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input value="08:00" min="08:00" max="20:00" step="900" asp-for=@(new AddExamScheduleViewModel().EndExam) class="form-control" />
                                <span asp-validation-for="AddExamScheduleModel.EndExam" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.DropDownList("ClassName", (SelectList)ViewData["ClassName"], new { @class = "form-control" })
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.DropDownList("ExamType", (SelectList)ViewData["ExamType"], new { @class = "form-control" })
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.DropDownList("TeacherName", (SelectList)ViewData["TeacherName"], new { @class = "form-control" })
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.DropDownList("GroupName", (SelectList)ViewData["GroupName"], new { @class = "form-control" })
                            </div>
                        </td>
                        <td>
                            <input type="submit" value="Add" class="btn btn-primary" style="float: right" />
                        </td>
                    </form>
                </tr>
            </table>         
            <br />
            <h4>Events</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.AddEventScheduleModel.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AddEventScheduleModel.StartEvent)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AddEventScheduleModel.EndEvent)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AddEventScheduleModel.EventName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AddEventScheduleModel.EventType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AddEventScheduleModel.Organizer)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AddEventScheduleModel.GroupName)
                        </th>
                    </tr>
                </thead>
                @if (ViewBag.EventSchedulesList is IEnumerable)
                {
                    <tbody>
                        @{ var classwiseEventSchedule = (ViewBag.EventSchedulesList as IEnumerable<EventSchedule>).Where(c => c.ClassroomName == cl.ClassroomName); }
                        @foreach (var item in classwiseEventSchedule)
                    {
                        var id = Guid.NewGuid();
                        var buttonTarget = "#deleteEventScheduleModal" + id;
                        var modalId = "deleteEventScheduleModal" + id;
                        var culture = new System.Globalization.CultureInfo("ro-RO");
                        var day = culture.DateTimeFormat.GetDayName(@item.Date.DayOfWeek).First().ToString().ToUpper() + culture.DateTimeFormat.GetDayName(@item.Date.DayOfWeek).Substring(1);
                            <tr>
                                <td>
                                    @item.Date.ToString("dd.MM.yyyy") @day
                                </td>
                                <td>
                                    @item.StartEvent.ToString("HH:mm")
                                </td>
                                <td>
                                    @item.EndEvent.ToString("HH:mm")
                                </td>
                                <td>
                                    @item.EventName
                                </td>
                                <td>
                                    @item.EventType
                                </td>
                                <td>
                                    @item.Organizer
                                </td>
                                <td>
                                    @item.GroupName
                                </td>
                                <td>
                                    <button class="btn btn-danger" data-target="@buttonTarget" data-toggle="modal" style="float: right">Delete</button>
                                    <div class="modal fade" id="@modalId" tabindex="-1" data-focus-on="input:first">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Confirm delete</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <h4>You are about to delete this following entry in the events schedule:</h4>
                                                    <dl class="dl-horizontal">
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.AddEventScheduleModel.ClassroomName)
                                                        </dt>
                                                        <dd>
                                                            @cl.ClassroomName
                                                        </dd>
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.AddEventScheduleModel.Date)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayFor(model => item.Date)
                                                        </dd>
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.AddEventScheduleModel.StartEvent)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayFor(model => item.StartEvent)
                                                        </dd>
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.AddEventScheduleModel.EndEvent)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayFor(model => item.EndEvent)
                                                        </dd>
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.AddEventScheduleModel.EventName)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayFor(model => item.EventName)
                                                        </dd>
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.AddEventScheduleModel.EventType)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayFor(model => item.EventType)
                                                        </dd>
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.AddEventScheduleModel.Organizer)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayFor(model => item.Organizer)
                                                        </dd>
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.AddEventScheduleModel.GroupName)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayFor(model => item.GroupName)
                                                        </dd>
                                                    </dl>
                                                    <h4>Do you want to proceed?</h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <form asp-action="DeleteEventSchedule" asp-route-id=@item.EventScheduleId>
                                                        <input type="submit" value="Delete" class="btn btn-primary btn-danger" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                            }
                <tr>
                    <form asp-action="AddEventSchedule">
                        <div class="form-group">
                            @Html.Hidden("ClassroomName", cl.ClassroomName)
                        </div>
                        <td>
                            <div class="form-group" style="width: 155px;">
                                <input value="" asp-for=@(new AddEventScheduleViewModel().Date) class="form-control" />
                                <span asp-validation-for="AddEventScheduleModel.Date" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input value="08:00" min="08:00" max="20:00" step="900" asp-for=@(new AddEventScheduleViewModel().StartEvent) class="form-control" />
                                <span asp-validation-for="AddEventScheduleModel.StartEvent" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input value="08:00" min="08:00" max="20:00" step="900" asp-for=@(new AddEventScheduleViewModel().EndEvent) class="form-control" />
                                <span asp-validation-for="AddEventScheduleModel.EndEvent" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input asp-for=@(new AddEventScheduleViewModel().EventName) class="form-control" />
                                <span asp-validation-for="AddEventScheduleModel.EventName" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.DropDownList("EventType", (SelectList)ViewData["EventType"], new { @class = "form-control" })
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input asp-for=@(new AddEventScheduleViewModel().Organizer) class="form-control" />
                                <span asp-validation-for="AddEventScheduleModel.Organizer" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group" style="min-width: 125%">
                                @Html.DropDownList("GroupName", (SelectList)ViewData["GroupName"], new { @class = "form-control" })
                            </div>
                        </td>
                        <td>
                            <input type="submit" value="Add" class="btn btn-primary" style="float: right" />
                        </td>
                    </form>
                </tr>
            </table>
        </div>
                            }
</div>